{% extends "veterinaria/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    {% for pet in mascotas %}

        <p>Nombre: {{pet.nombre}}</p>
        
        <p>Edad: {{pet.edad}}</p>
        
        <p>Especie: {{pet.especie}}</p>
        
        <p>Raza: {{pet.raza}}</p>

    
    <button>
        <a href="{%url 'updatePaciente' pet.nombre %}">Editar mascota</a>
        <a href="{% url 'deletePaciente' pet.nombre %}">Eliminar mascota</a>
    </button>

    * * * * * * *

    {% endfor %}


{% endblock %}