{% extends "veterinaria/padre.html" %}
{% load static %}

{% block contenidoQueCambia %}

<body>
    <div class="row gx-0 justify-content-center">
        <div class="col-lg-6"><img class="img-fluid" src="{% static 'veterinaria/src/assets/img/demo-image-02.jpg' %}" alt="..." /></div>
        <div class="col-lg-6 order-lg-first">
            <div class="bg-black text-center h-100 project">
                <div class="d-flex h-100">
                    <div class="project-text w-100 my-auto text-center text-lg-right">
                        <h4 class="text-white">¿Primera vez?</h4>
                        <p class="mb-0 text-white-50">Si tu mascota aún no se atendió con nosotros, registrate y formá parte de nuestra familia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form action="" method="POST"> {% csrf_token %}

        {{formulario.as_p}}
    
        <button type="submit">Registrarse</button>
    
    </form>


</body>

{% endblock %}